@font-face {
    font-family: 'Carmen Sans';
    src: url('Carmen Sans Bold.eot');
    src: url('Carmen Sans Bold.eot?#iefix') format('embedded-opentype'),
        url('Carmen Sans Bold.woff2') format('woff2'),
        url('Carmen Sans Bold.woff') format('woff'),
        url('Carmen Sans Bold.ttf') format('truetype'),
        url('Carmen Sans Bold.svg#CarmenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carmen Sans';
    src: url('Carmen Sans ExtraBold.eot');
    src: url('Carmen Sans ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Carmen Sans ExtraBold.woff2') format('woff2'),
        url('Carmen Sans ExtraBold.woff') format('woff'),
        url('Carmen Sans ExtraBold.ttf') format('truetype'),
        url('Carmen Sans ExtraBold.svg#CarmenSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carmen Sans';
    src: url('Carmen Sans Heavy.eot');
    src: url('Carmen Sans Heavy.eot?#iefix') format('embedded-opentype'),
        url('Carmen Sans Heavy.woff2') format('woff2'),
        url('Carmen Sans Heavy.woff') format('woff'),
        url('Carmen Sans Heavy.ttf') format('truetype'),
        url('Carmen Sans Heavy.svg#CarmenSans-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carmen Sans';
    src: url('Carmen Sans Light.eot');
    src: url('Carmen Sans Light.eot?#iefix') format('embedded-opentype'),
        url('Carmen Sans Light.woff2') format('woff2'),
        url('Carmen Sans Light.woff') format('woff'),
        url('Carmen Sans Light.ttf') format('truetype'),
        url('Carmen Sans Light.svg#CarmenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carmen Sans';
    src: url('Carmen Sans Medium.eot');
    src: url('Carmen Sans Medium.eot?#iefix') format('embedded-opentype'),
        url('Carmen Sans Medium.woff2') format('woff2'),
        url('Carmen Sans Medium.woff') format('woff'),
        url('Carmen Sans Medium.ttf') format('truetype'),
        url('Carmen Sans Medium.svg#CarmenSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carmen Sans';
    src: url('Carmen Sans Regular.eot');
    src: url('Carmen Sans Regular.eot?#iefix') format('embedded-opentype'),
        url('Carmen Sans Regular.woff2') format('woff2'),
        url('Carmen Sans Regular.woff') format('woff'),
        url('Carmen Sans Regular.ttf') format('truetype'),
        url('Carmen Sans Regular.svg#CarmenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carmen Sans';
    src: url('Carmen Sans Thin.eot');
    src: url('Carmen Sans Thin.eot?#iefix') format('embedded-opentype'),
        url('Carmen Sans Thin.woff2') format('woff2'),
        url('Carmen Sans Thin.woff') format('woff'),
        url('Carmen Sans Thin.ttf') format('truetype'),
        url('Carmen Sans Thin.svg#CarmenSans-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carmen Sans';
    src: url('Carmen Sans SemiBold.eot');
    src: url('Carmen Sans SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Carmen Sans SemiBold.woff2') format('woff2'),
        url('Carmen Sans SemiBold.woff') format('woff'),
        url('Carmen Sans SemiBold.ttf') format('truetype'),
        url('Carmen Sans SemiBold.svg#CarmenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carmen Sans';
    src: url('Carmen Sans UltraLight.eot');
    src: url('Carmen Sans UltraLight.eot?#iefix') format('embedded-opentype'),
        url('Carmen Sans UltraLight.woff2') format('woff2'),
        url('Carmen Sans UltraLight.woff') format('woff'),
        url('Carmen Sans UltraLight.ttf') format('truetype'),
        url('Carmen Sans UltraLight.svg#CarmenSans-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

