@font-face {
    font-family: 'Carmen Sans';
    src: url('fonts/CarmenSans/CarmenSansBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carmen Sans';
    src: url('fonts/CarmenSans/CarmenSansMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carmen Sans';
    src: url('fonts/CarmenSans/CarmenSansRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
